<section class="hero is-success is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= link_to root_path, class:"navbar-item" do %>
              <svg id="Capa_1" enable-background="new 0 0 512 512" 
              height="30" viewBox="0 0 512 512" width="30" fill="#FFFFFF"
               xmlns="http://www.w3.org/2000/svg">
               <path d="m506.519 390.659c7.077-20.026 7.305-42.23.659-64.212-7.502-24.812-23.315-48.638-44.526-67.09-15.392-13.39-32.351-22.614-48.483-26.627l25.898-26.026c18.464 9.204 41.617 6.085 56.882-9.255 19.167-19.262 19.167-50.604 0-69.866-7.361-7.397-16.697-12.141-26.656-13.821-1.662-9.999-6.376-19.375-13.734-26.769-9.306-9.352-21.684-14.503-34.854-14.503s-25.548 5.151-34.853 14.503c-14.905 14.979-18.299 37.376-9.846 55.712l-26.847 26.981c-5.767-1.041-11.841-1.57-18.183-1.57-10.034 0-20.461 1.341-30.915 3.862-60.281-28.588-115.627-37.356-164.575-26.058-43.829 10.117-80.119 35.998-104.949 74.844-22.454 35.128-33.562 79.284-30.477 121.146 2.25 30.527 11.623 57.98 27.021 80.091h-28.081v29.986h15.86c8.493 0 15.403 6.736 15.403 15.014 0 24.813 20.354 44.999 45.373 44.999h358.181c25.018 0 45.372-20.187 45.372-44.999 0-8.279 6.91-15.014 15.403-15.014h15.875v-29.986h-22.857c7.968-9.687 13.956-20.156 17.909-31.342zm-89.895-245.269-9.327-10.54c-6.804-7.688-6.456-19.416.792-26.701 3.64-3.658 8.475-5.673 13.615-5.673s9.975 2.015 13.616 5.674c4.598 4.621 6.573 11.224 5.282 17.662l-4.435 22.12 22.1-4.476c6.35-1.286 12.872.69 17.444 5.285 7.559 7.596 7.559 19.957 0 27.553-7.384 7.42-19.493 7.517-26.994.22l-10.617-10.331-37.338 37.524c-2.914-5.012-6.446-9.668-10.638-13.88-2.972-2.987-6.209-5.678-9.689-8.065zm-84.65 52.713c10.991 0 26.316 2.234 36.909 12.879 11.823 11.882 15.716 32.823 10.679 57.453-5.169 25.274-19.157 51.321-37.419 69.674-16.534 16.615-35.049 25.398-53.544 25.398-17.634 0-34.622-7.706-49.127-22.283-24.113-24.232-35.961-64.113 3.099-103.368 23.66-23.778 59.589-39.754 89.403-39.753zm118.244 268.898c0 8.279-6.91 15.014-15.403 15.014h-358.18c-8.493 0-15.403-6.735-15.403-15.014 0-5.262-.916-10.316-2.597-15.014h394.181c-1.682 4.697-2.598 9.751-2.598 15.014zm-5.587-45h-376.928c-21.25-19.255-34.246-48.256-36.754-82.296-2.619-35.537 6.797-73 25.835-102.784 14.308-22.385 40.918-51.274 86.438-61.781 34.983-8.074 74.462-3.926 117.709 12.315-14.561 7.82-28.149 17.739-39.598 29.245-22.578 22.69-34.343 49.013-34.025 76.122.295 25.11 11.278 49.813 30.925 69.558 19.964 20.064 44.954 31.113 70.366 31.113 26.642 0 52.501-11.836 74.782-34.228 25.405-25.531 43.258-61.983 47.376-96.395 25.926 8.275 57.056 36.94 67.735 72.26 7.184 23.761 6.907 57.821-33.861 86.871z"/><path d="m269.617 93.381c-3.888-9.117-4.045-20.762-.467-34.621 7.322-20.093 7.575-40.395.723-58.76l-28.077 10.488c4.376 11.729 4.033 25.05-.995 38.523l-.257.688-.188.71c-5.51 20.765-4.939 39.183 1.697 54.741z"/><path d="m188.998 93.381c-3.888-9.117-4.044-20.762-.467-34.621 7.322-20.093 7.575-40.395.723-58.76l-28.077 10.488c4.376 11.729 4.033 25.05-.995 38.523l-.257.688-.188.71c-5.51 20.765-4.939 39.183 1.697 54.741z"/><path d="m350.236 93.381c-3.888-9.117-4.044-20.762-.467-34.621 7.322-20.093 7.575-40.395.723-58.76l-28.077 10.488c4.376 11.729 4.033 25.05-.995 38.523l-.257.688-.188.71c-5.51 20.765-4.939 39.183 1.697 54.741z"/><path d="m310.606 235.959h29.859v29.986h-29.859z"/></svg>
              <span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
            <% end %>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to "Create new entry",  new_entry_path, class: "button is-inverted"%>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <% if content_for(:title)%>
          <%= yield :title%>
        <% else %>
          Foodlog
        <%end%>
      </h1>
    </div>
  </div>
</section>
